<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title> Shopping List App</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <div id="shopping-list" class="bg-cyan-800 h-screen w-screen">
        <div class="pt-16">
            <div class="bg-white h-80 w-2/4 m-auto rounded-lg md">
                <h2 class="text-center text-3xl semibold pt-8 mb-16">Shopping List App</h2>
                <div class="flex justify-center">
                    <input type="text" v-model="item" @keyup.enter="addItems" class="border-4 w-64 outline-nine " />
                    <button type="submit" value="add" @click="addItems"
                        class="bg-orange-400 px-8 py-2 text-white rounded-lg">add
                        items</button>
                </div>
                <div class="flex justify-center mr-20">
                    <ul>
                        <li v-for="item in items">{{ item }}</li>
                    </ul>
                </div>

                <p v-if="items.length === 0">You have purchased all your shopping list items</p>
            </div>
        </div>

    </div>

    <!-- <div id="shopping-list">
        <div class="shop-outer">
            <h2>Learning Vue Refs</h2>
            <input type="text" ref="input" />
            <button v-on:click="readRefs">Submit</button>
            <p>My Favorite Food is: {{ output }}</p>
        </div>

    </div> -->


    <script src="app.js"></script>
</body>

</html>